.container{
  margin: auto;
  padding: auto;
  display: flex;
}

.caixa1{
    width: 300px;
    height: auto;
    text-align: center;
}

.icone-1{
  color: #4e97d1;
}

.container2{
   text-align: center;
   width: 900px;
}

.login{
    text-align: center;
}
